/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px 0;
}

#home {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#home h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

#about, #skills, #projects, #contact {
    background: #fff;
    padding: 50px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    color: #333;
}

.project-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background: #f4f4f4;
    padding: 20px;
    width: 45%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
